body{
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: ‘Verdana’, Helvetica, sans-serif;
	
	
}

#menu{
    background-color: #FFFFFF;
	border-bottom: 2px solid #7d7dff;
}

#menu h1 a,visited{
    padding: 18px;
	color: #7d7dff;
	
}

#menu_wrapper{
    width: 960px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    z-index: 40;
	margin-right: 60px;
}

#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 22px;
}

#menu ul li{
    display: inline-block;
}

#menu ul li:hover{
    background-color: #FFFFFF;
}

#menu ul li a,visited{
    color: #7d7dff;
    display: block;
    padding: 15px;
    text-decoration: none;
}

#menu ul li:hover ul{
    display: block;
}
#menu ul ul{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border-top: 0;
    margin-left: -5px;
}
#menu ul ul li{
    display: block;
    text-align: left;
}

#menu ul ul li a:hover{
    color:#000066;
	position: relative;
	z-index: 2; 
}
#waiver{
	margin-left: 15px;
}